<div
        {{ attributes }}
>
    <h1>Add</h1>

    <h2 class="blue">Current adder : {{ this.adder }}</h2>

    <button class="blue" {{ live_action('changeAdder', { adder : 6 }) }}>6</button>
    <button class="blue" {{ live_action('changeAdder', { adder : 7 }) }}>7</button>
    <button class="blue" {{ live_action('changeAdder', { adder : 8 }) }}>8</button>

    <ul>
        {% for index, result in this.table %}
            <li>
                <strong class="blue">{{ this.adder }}</strong> + <strong>{{ index }}</strong> = <strong>{{ result }}</strong>
            </li>
        {% endfor %}
    </ul>
</div>
